# Ignore dependencies & build outputs
node_modules/
.expo/
dist/
web-build/
android/
ios/

# Ignore VCS & IDE config
.git/
.vscode/
.claude/
.idea/
.agents/
AGENTS.md
CLAUDE.md
*.md

# Ignore temporary assets, artifacts, and logs
*.log
.tempmediaStorage/
npm-debug.*
yarn-debug.*
*.apk
*.aab
*.zip
*.tar.gz
