# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# IDE & AI Assistant files
.vscode/
.claude/
.idea/
AGENTS.md
CLAUDE.md

# Expo & Build
.expo/
dist/
web-build/
expo-env.d.ts
*.apk
*.aab

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# Logs & Temp
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
.tempmediaStorage/

# macOS & OS
.DS_Store
*.pem
Thumbs.db

# local env files
.env*.local

# typescript
*.tsbuildinfo
